<h1>Privacy Policy</h1>

This Privacy Policy governs the use of the Dictorius application (hereafter referred to as the "Application") developed for distribution on the App Store. By using the Application, users signify their agreement to this Privacy Policy.

<h2>Personal Data</h2>

The Application does not collect any personal data. Only anonymous usage and crash statistics are gathered to improve the functionality and performance of the Application.

<h2>Changes to the Privacy Policy</h2>

This Privacy Policy may be updated periodically. In the event of changes, a notification detailing the updates will be published on the Application's website at https://www.dictorius.app/privacy. Changes take effect immediately upon the publication of the notification.

<h2>Change Log</h2>

<ul>
    <li>20 April 2025: Initial version of the Privacy Policy.</li>
</ul>